@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Raleway:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700;900&display=swap');

:root {
    --red: #eb5757;
    --green: #aad037;
    --blue: #229cd7;
}

body {
    font-family: 'Nunito', sans-serif;
}

.jumbotron {
    font-family: 'Raleway', sans-serif;    
    background: url("../images/orphan.jpg");
    min-height: 100vh;
    min-width: 100vw;
}

.jumbotron h1 {
    color: var(--green);
    font-size: 5rem;
}

.jumbotron a {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    padding: 1em 2em;
}

.btn {
    border-radius: 50px;
}

.ong-red {
    background-color: var(--red);
    border-color: transparent;
}

.ong-red:hover{
    background-color: var(--red);
    border-color: transparent;
} 

section {
    min-height: 100vh;
}

section h1 {
    color: var(--green);
    font-family: 'Raleway', sans-serif;   
}

section h2 {
    color: var(--blue);
    font-family: 'Raleway', sans-serif;   
}

.social {
    font-size: 3em;
}

.parceiro {
    width: 8em;
    height: 8em;
    background-color: grey;
    margin: 1em 4em;
}

.help {
    background-color: var(--blue);
    color: white;
    min-height: 10vh;
    padding: 4em;
}

.help h1 {
    font-weight: bolder;
}

.help a {
    padding: 1em;
    font-weight: bolder;
}

#fale form {
    font-weight: bold;
}

#fale {
    width: 50%;
}

#fale button {
    width: 8em;
}

footer {
    background-color: var(--green);
    min-height: 25vh;
    display: flex;
    align-items: center;
    vertical-align: middle;
    color: white;
}

footer i {
    font-size: 3em;
}

footer .container {
    display: flex;
    justify-content: space-between;
}