@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;900&family=Raleway:wght@900&display=swap');

:root {
  --red: #eb5757;
  --green: #aad037;
  --blue: #229cd7;
  --grey: #4f4f4f;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: #fafafa;
  overflow-x: hidden;
}

nav {
  font-weight: bold;
  position: fixed !important;
  width: 100% !important;
  z-index: 100;
}

nav ul li {
  margin: 0 0.7em;

  display: flex;
  align-items: center;
}

nav ul li a {
  color: var(--grey)
}

nav .btn {
  padding: 0.7em 1.5em;
}

section h1 {
  color: var(--green); 
  font-weight: 900;
  font-size: 2.5em;
}

section h2 {
  color: var(--blue);
  font-family: 'Raleway', sans-serif;   
  padding-bottom: 0.5em;
}

.logo {
  width: 4em;
}

.jumbotron {
  font-family: 'Raleway', sans-serif;    
  background: 
    radial-gradient( 
        rgba(0, 0, 0, 0), 
        rgba(0, 0, 0, 0.5) 
    ),
    url("../images/mainimageong.jpg ") no-repeat;

  background-color: transparent;
  background-size: cover;
  min-height: 100vh;
  max-width: 100%;
  height: auto;
}

.jumbotron h1 {
  color: white;
  font-size: 5rem;
  margin-top: 10%;
}

.jumbotron a {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  padding: 1em 2em;
}

.btn {
  border-radius: 50px;
  font-weight: bold;
}

.ong-red {
  background-color: var(--red);
  border-color: transparent;
}

.ong-red:hover{
  background-color: var(--red);
  border-color: transparent;
}

section {
  margin-top: 5em;
}

#about img {
  min-height: 65vh;
  min-width: 40vw;
}

.social .fab {
  font-size: 1.5rem;
} 
.social a {
  color: var(--grey);
  text-decoration: none;
}

.img-parceiros {
  width: 10em;
  height: 10em;
  background-color: grey;
}

#nos-ajude {
  background: linear-gradient(180deg, #3696C6 6.45%, #40D8CF 145.16%), #229CD7;
  color: white;
  min-height: 10vh;
  padding:    4em;
}

#nos-ajude h1 {
  font-weight: bolder;
}

#nos-ajude p {
  margin: 1em 0;
  font-weight: bold;
  text-align: center;
}

#nos-ajude a {
  padding: 1em;
  font-weight: bolder;
}

footer {
  background-color: #aad037;
  min-height: 20vh;
  color: white;
}

footer i {
  font-size: 3em;
}

@media only screen and (max-width: 830px) {
  .logo {
    width: 3em;
  }

  .jumbotron {
    background-color: transparent;
    background-size: 150%;
    min-height: 56vh;
    max-width: 100%;
    height: auto;
  }

  .jumbotron h1 {
    font-size: 1.8rem;
    margin-top: 30%;
  }

  #about img {
    min-height: 0;
    min-width: 0;
  }

  #nos-ajude h1 {
    font-size: 2.1em;
  }
}